.emulator-data
.venv
.build
tf/terraform.tfstate
tf/terraform.tfvars
*.zip
*.pyc
*.log
.emulator-data
.vscode
tf/.terraform
tf/.terraform.lock.hcl
tf/.terraform.lock.hcl.backup
tf/terraform.tfstate.backup
